.add_aricle_wrapper{
    form{
        display: flex;
        flex-direction: column;
    }
}

.card_articles{
    .card{
        .card_img{
            height: 20rem;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}