// style.scss

body{
    position: relative;
    padding-top: 5rem;
}
body:first-child {
    font-size: 2em;
  }

@import '_card';
@import '_login';
@import '_comments';
@import '_article';
@import '_fontawesome';
@import '_header';
@import '_home';
@import '_admin';